<nb-card>
  <nb-card-header>
    <div class="w-100 d-inline-flex justify-content-between">
      <h2>{{ 'pages.workers.title' | translate }}</h2>
      <nb-actions>
        <nb-action (click)="createWorker()" style="cursor: pointer;">
          <nb-icon style="font-size: 2rem;" icon="plus-circle-outline" status="success">
          </nb-icon>
        </nb-action>
        <nb-action (click)="updatePollingState()" style="cursor: pointer;">
          <nb-icon *ngIf="!usePolling" style="font-size: 2rem;" icon="flash-off-outline" status="warning">
          </nb-icon>
          <nb-icon *ngIf="usePolling" style="font-size: 2rem;" icon="flash-outline" status="success">
          </nb-icon>
        </nb-action>
      </nb-actions>

    </div>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item
        *ngFor="let worker of workers | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalCount }">
        <div class="w-100 d-inline-flex justify-content-between">
          <span>
            {{ worker.name }}

            <nb-tag-list class="ms-1">
              <nb-tag size="tiny" appearance="outline" status="success" *ngIf="worker.online"
                [text]="'worker.online' | translate">
              </nb-tag>
              <nb-tag size="tiny" appearance="outline" status="danger" *ngIf="!worker.online"
                [text]="'worker.offline' | translate">
              </nb-tag>
            </nb-tag-list>
          </span>
          <nb-actions>
            <nb-action (click)="editWorker(worker.id)">
              <nb-icon style="cursor: pointer;" icon="settings-2-outline">Edit</nb-icon>
            </nb-action>

            <nb-action (click)="deleteWorker(worker.id)">
              <nb-icon status="danger" style="cursor: pointer;" icon="close-circle-outline">Delete</nb-icon>
            </nb-action>

            <nb-action (click)="changeWorkerState(worker.id)">
              <nb-icon *ngIf="!worker.disabled" status="warning" style="cursor: pointer;" icon="pause-circle-outline">
                Pause
              </nb-icon>
              <nb-icon *ngIf="worker.disabled" status="success" style="cursor: pointer;" icon="play-circle-outline">
                Play
              </nb-icon>
            </nb-action>
          </nb-actions>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
  <nb-card-footer>
    <pagination-controls class="mx-auto pagination" (pageChange)="paginate($event)" responsive="true"
      [previousLabel]="'pagination.previous' | translate" [nextLabel]="'pagination.next' | translate">
    </pagination-controls>
  </nb-card-footer>
</nb-card>
